@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-black antialiased selection:bg-report-pink selection:text-black;
    background-image: radial-gradient(#d4d4d4 1px, transparent 1px);
    background-size: 32px 32px;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
  
  button, a {
    cursor: pointer;
  }
}

@layer utilities {
  .blend-multiply {
    mix-blend-mode: multiply;
  }
  
  .blend-lighten {
    mix-blend-mode: lighten;
  }

  /* Editorial Highlights - Solid blocks of color */
  .highlight-coral {
    @apply bg-report-coral/30;
  }
  
  .highlight-yellow {
    @apply bg-report-yellow/50;
  }
  
  .highlight-blue {
    @apply bg-report-blue/30;
  }

  .highlight-dark {
    @apply bg-report-dark;
  }
  
  /* Strikethroughs - kept for functionality but styled cleaner */
  .strikethrough-simple {
    position: relative;
  }
  
  .strikethrough-simple::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #000;
    transform: rotate(-2deg);
  }
  
  .strikethrough-aggressive {
    position: relative;
  }
  
  .strikethrough-aggressive::after {
    content: '';
    position: absolute;
    left: -2%;
    top: 50%;
    width: 104%;
    height: 2px;
    background: #000;
    transform: rotate(-5deg);
  }
}
